@import "tailwindcss";

body {
  color: #3f1f02;
  background: #ffffff;
  font-family: var(--font-andada-pro);
}

@theme {
  --color-primary: #5b6b4a;
}

h1 {
  @apply text-3xl; 
}

h3 {
  @apply text-xl font-bold;
}

li {
  @apply border-b-1 border-transparent hover:border-current pb-1;
}

.btn {
  @apply bg-primary text-white p-4 rounded-md hover:bg-[#2f3a23] font-bold;
}
